.form-section__form-wrapper input {
  width: 100%;
  padding-top: 13px;
  padding-bottom: 9px;
  padding-left: 28px;
  padding-right: 28px;
  border-radius: 6px;
  border: 1px solid $border-color;
  font-size: 15px;
  line-height: 24px;

  &::placeholder {
    font-family: "Open Sans", "Courier", monospace;
    font-size: 15px;
    line-height: 24px;
    color: rgba($placeholder-color, 0.5);
  }

  &:hover {
    border-color: darken($border-color, 20%);
  }

  &:focus {
    outline: none;
    border-color: $company-color;
  }
}

.form__input--error {
  border: 1px solid $error-color;

  &::placeholder {
    color: $error-color;
  }
}

.form-section__form-wrapper input + input {
  margin-top: 20px;
}

.form-section__form-wrapper button[type="submit"] {
  width: 326px;
  background-color: $company-color;
  border-radius: 6px;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  border: none;
  margin-top: 20px;
  padding-top: 16px;
  padding-bottom: 14px;
  cursor: pointer;
  transition: all 0.3s;
  box-sizing: border-box;

  &:hover {
    background-color: lighten($company-color, 30%);
  }
}

@media (max-width: $tablet-width) {
  .form-section__form-wrapper form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-section__form-wrapper input {
    padding: 11px 21px 11px;
  }

  .form-section__form-wrapper button[type="submit"] {
    width: 321px;
  }
}

@media (max-width: $mobile-width) {
  .form-section__form-wrapper input {
    padding: 11px 26px;
  }

  .form-section__form-wrapper button[type="submit"] {
    padding-top: 14px;
    padding-bottom: 14px;
    width: 100%;
  }
}
