.main-page {
  width: 100%;
}

.main-page__bg-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 825px;
  // position: absolute;
  // z-index: -1;
  // left: 50%;
  // transform: translateX(-50%);
  // top: 0;
  background-color: $dark-bg;
  background-image: image-set(
    "./../../img/bike.jpg" 1x,
    "./../../img/bike@2x.jpg" 2x
  );
  // background-image: url("./../img/bike.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
}

@media (max-width: $tablet-width) {
  .main-page__bg-wrapper {
    min-height: auto;
    // height: 340px;
    background-color: $basic-white;
    background-image: image-set(
      "./../../img/bike-768.jpg" 1x,
      "./../../img/bike-768@2x.jpg" 2x
    );
    // background-image: url("./../img/bike-768.webp");
    background-size: 100% 340px;
  }
}

@media (max-width: $mobile-width) {
  .main-page__bg-wrapper {
    // height: 390px;
    background-image: image-set(
      "./../../img/bike-320.jpg" 1x,
      "./../../img/bike-320@2x.jpg" 2x
    );
    background-size: 100% 390px;
    // background-image: url("./../img/bike-320.webp");
  }
}
