.main-page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
  flex: 0 0 auto;
}

.main-page__bg-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 825px;
  background-image: image-set(
    "./../img/bike.jpg" 1x,
    "./../img/bike@2x.jpg" 2x
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
}

.main-page__color-bg {
  background-color: $dark-bg;
}

@media (max-width: $tablet-width) {
  .main-page__bg-wrapper {
    min-height: auto;
    background-image: image-set(
      "./../img/bike-768.jpg" 1x,
      "./../img/bike-768@2x.jpg" 2x
    );
    background-size: 100% 340px;
  }

  .main-page__color-bg {
    background: linear-gradient($dark-bg 45%, $basic-white 45%);
  }
}

@media (max-width: $mobile-width) {
  .main-page__bg-wrapper {
    background-image: image-set(
      "./../img/bike-320.jpg" 1x,
      "./../img/bike-320@2x.jpg" 2x
    );
    background-size: 100% 390px;
  }

  .main-page__color-bg {
    background: linear-gradient($dark-bg 47%, $basic-white 47%);
  }
}
