.navigation-list {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  text-align: start;
  list-style-type: none;
  margin: 0;
  padding: 21px 21px;
  padding-bottom: 9px;
  flex-wrap: wrap;
}

.navigation-list__link {
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: -0.005em;
  color: rgba($basic-white, 0.7);
  margin-right: 134px;

  &:hover {
    color: rgba($basic-white, 1);
  }
}

.navigation-list__item:last-child .navigation-list__link {
  margin-right: 0;
}

.navigation-list__item .arrow {
  display: none;
}

@media (max-width: $tablet-width) {
  .navigation-list__item {
    background-color: $grey-bg;
    padding: 17px 35px 17px 16px;
    display: flex;
    // justify-content: space-between;
    max-width: 100%;
    cursor: pointer;

    &:hover {
      background-color: darken($grey-bg, 20%);
    }
  }

  .navigation-list__item + .navigation-list__item {
    margin-top: 28px;
  }

  .navigation-list__link {
    font-size: 20px;
    line-height: 140%;
    color: $dark-font;
  }

  .navigation {
    max-width: 100%;
    margin: 0;
  }

  .side-menu .navigation-list__item {
    font-size: 20px;
    line-height: 140%;
  }

  .side-menu .navigation-list__link {
    margin-right: 0;
  }

  .navigation-list__item .arrow {
    display: flex;
    margin-left: auto;
  }
}
