.side-menu {
  white-space: nowrap;
  position: relative;
}

.side-menu__close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  width: 50px;
  height: 52px;
  background-color: transparent;
  border: none;
  padding: 0;
  display: none;
}

.side-menu__close:hover .cross {
  stroke-opacity: 1;
}

.side-menu .cross {
  width: 100%;
  height: 100%;
}

.main-page--no-js .navigation-list,
.side-menu--open .navigation-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

.side-menu--open {
  z-index: 103;
}

.main-page--no-js .cross {
  display: none;
}

@media (max-width: $tablet-width) {
  .side-menu {
    display: none;
  }

  .side-menu--open {
    display: flex;
  }

  .side-menu__close {
    display: block;
  }

  .main-page--no-js .side-menu,
  .side-menu.side-menu--open {
    position: absolute;
    top: 0;
    right: 0;
    background-color: $basic-white;
    width: 320px;
    padding-top: 100px;
    padding-bottom: 138px;
    flex-direction: column;
    justify-content: center;
  }

  .main-page--no-js .side-menu,
  .side-menu.side-menu--no-js {
    position: static;
    display: flex;
  }

  .main-page--no-js .burger-button {
    display: none;
  }

  .side-menu--open .bg {
    display: block;
    background-color: $error-color;
  }
}

@media (max-width: $mobile-width) {
  .side-menu.side-menu--open {
    width: 100%;
  }
}
