.types-section {
  background-color: $light-blue-bg;
  padding-top: 125px;
  padding-bottom: 149px;
  width: 100%;
}

.types-section .container {
  padding: 0 10%;
}

.types-section h2 {
  text-align: center;
  margin-bottom: 51px;
}

.types-section span {
  margin: 0 auto;
  display: flex;
  height: auto;
  font-weight: 600;
  font-size: 22px;
  line-height: 34px;
  text-align: center;
  letter-spacing: -0.5px;
  margin-top: 20px;
  white-space: normal;
}

.types-section__item {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.types-section__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  column-gap: 3%;
  row-gap: 45px;

  @media (min-width: 1440px) {
    column-gap: 2%;
  }
}

.types-section__img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: relative;
  z-index: 1;
}

.types-section__img-wrapper {
  position: relative;
  max-width: 342px;
  max-height: 503px;
}

.types-section__item:nth-child(3n) .types-section__img-wrapper {
  max-height: 512px;
}

.types-section__item:nth-child(3n-1) .types-section__img-wrapper {
  max-height: 566px;
}

.types-section__item:nth-child(3n-2) {
  margin-top: 9px;
}

.types-section__item:nth-child(3n-1) {
  margin-top: 38px;
}

.types-section__item:nth-child(3n-2) .types-section__img-wrapper::after {
  content: "";
  position: absolute;
  top: 32%;
  left: -17%;
  width: 44%;
  height: 34%;
  border: 27px solid $company-color;
  border-radius: 50%;
}

.types-section__item:nth-child(3n-1) .types-section__img-wrapper::after {
  content: "";
  position: absolute;
  top: -3%;
  left: -6%;
  width: 14%;
  height: 8%;
  border: 8px solid $company-color;
  z-index: 1;
}

.types-section__item:nth-child(3n-1) .types-section__img-wrapper::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: -10.7%;
  transform: translate(50%, -70%);
  width: 14%;
  height: 9%;
  border: 8px solid $company-color;
  z-index: 2;
}

.types-section__item:nth-child(3n) .types-section__img-wrapper::after {
  content: "";
  position: absolute;
  top: -6%;
  right: -11%;
  width: 28%;
  height: 18%;
  border: 17px solid $company-color;
  border-radius: 50%;
  z-index: 2;
}

@media (max-width: $tablet-width) {
  .types-section__item + .types-section__item {
    margin-left: 0;
  }

  .types-section .container {
    padding: 0 89px;
  }

  .types-section__item:nth-child(3n-1) .types-section__img-wrapper::after,
  .types-section__item:nth-child(3n-1) .types-section__img-wrapper::before {
    display: none;
  }

  .types-section__item:nth-child(3n-2) .types-section__img-wrapper,
  .types-section__item:nth-child(3n) .types-section__img-wrapper,
  .types-section__item:nth-child(3n-1) .types-section__img-wrapper,
  .types-section__img-wrapper {
    height: 300px;
    width: 270px;
  }

  .types-section__item:nth-child(3n-2),
  .types-section__item:nth-child(3n),
  .types-section__item:nth-child(3n-1) {
    margin-top: 0;
  }

  .types-section__item:nth-child(3n) .types-section__img-wrapper::after {
    width: 68px;
    height: 68px;
    border-width: 13px;
    top: -19px;
    right: -25px;
  }

  .types-section__item:nth-child(3n-2) .types-section__img-wrapper::after {
    width: 127px;
    height: 127px;
    border-width: 18px;
    left: -37px;
    top: auto;
    bottom: -28px;
  }

  .types-section__items {
    // display: grid;
    // grid-template-columns: min-content min-content;
    // grid-template-rows: 1fr 1fr;
    row-gap: 50px;
    column-gap: 50px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }

  // .types-section__item:nth-child(3n-2) {
  //   grid-column: 1 / 2;
  // }

  // .types-section__item:nth-child(3n) {
  //   grid-column: 1 / -1;
  //   justify-self: center;
  // }

  .types-section {
    padding-top: 29px;
    padding-bottom: 70px;
  }

  .types-section h2 {
    font-size: 24px;
    line-height: 41px;
    margin-bottom: 31px;
  }
}

@media (max-width: $mobile-width) {
  .types-section .container {
    padding: 0 25px;
  }

  .types-section {
    padding-bottom: 56px;
  }

  .types-section__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 41px;
  }

  // .types-section__item:nth-child(3n-2) .types-section__img-wrapper,
  // .types-section__item:nth-child(3n) .types-section__img-wrapper,
  // .types-section__item:nth-child(3n-1) .types-section__img-wrapper {
  //   width: 100%;
  // }

  .types-section__item:nth-child(3n-2) .types-section__img-wrapper::after {
    left: -25px;
  }

  .types-section__item:nth-child(3n) .types-section__img-wrapper::after {
    right: -14px;
  }
}
