.types-section {
  background-color: $light-blue-bg;
  padding-top: 120px;
  padding-bottom: 127px;
  width: 100%;
}

.types-section .container {
  padding: 0 132px;
}

.types-section .section-title {
  text-align: center;
  margin-bottom: 51px;
}

.types-section__title {
  font-weight: 600;
  font-size: 22px;
  line-height: 34px;
  text-align: center;
  letter-spacing: -0.5px;
  margin: 0;
  margin-top: 20px;
  height: 56px;
}

.types-section__item {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.types-section__items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.types-section__img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: relative;
  z-index: 1;
}

.types-section__img-wrapper {
  width: 342px;
  height: 503px;
  position: relative;
}

.types-section__item:nth-child(3n) .types-section__img-wrapper {
  height: 512px;
}

.types-section__item:nth-child(2n) .types-section__img-wrapper {
  height: 566px;
}

.types-section__item:first-child {
  margin-top: 9px;
}

.types-section__item:nth-child(2n) {
  margin-top: 38px;
}

.types-section__item:first-child .types-section__img-wrapper::after {
  content: "";
  position: absolute;
  top: 156px;
  left: -60px;
  width: 180px;
  height: 180px;
  border: 27px solid $company-color;
  border-radius: 50%;
}

.types-section__item:nth-child(2n) .types-section__img-wrapper::after {
  content: "";
  position: absolute;
  top: -18px;
  left: -19px;
  width: 47px;
  height: 47px;
  border: 8px solid $company-color;
}

.types-section__item:nth-child(2n) .types-section__img-wrapper::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: -56px;
  transform: translate(50%, -70%);
  width: 47px;
  height: 47px;
  border: 8px solid $company-color;
  z-index: 2;
}

.types-section__item:nth-child(3n) .types-section__img-wrapper::after {
  content: "";
  position: absolute;
  top: -32px;
  right: -36px;
  width: 95px;
  height: 95px;
  border: 17px solid $company-color;
  border-radius: 50%;
  z-index: 2;
}

@media (max-width: $tablet-width) {
  .types-section .container {
    padding: 0 89px;
  }

  .types-section__item:nth-child(2n) .types-section__img-wrapper::after,
  .types-section__item:nth-child(2n) .types-section__img-wrapper::before {
    display: none;
  }

  .types-section__item:first-child .types-section__img-wrapper,
  .types-section__item:nth-child(3n) .types-section__img-wrapper,
  .types-section__item:nth-child(2n) .types-section__img-wrapper,
  .types-section__img-wrapper {
    height: 300px;
    width: 270px;
  }

  .types-section__item:first-child,
  .types-section__item:nth-child(3n),
  .types-section__item:nth-child(2n) {
    margin-top: 0;
  }

  .types-section__item:nth-child(3n) .types-section__img-wrapper::after {
    width: 68px;
    height: 68px;
    border-width: 13px;
    top: -19px;
    right: -25px;
  }

  .types-section__item:first-child .types-section__img-wrapper::after {
    width: 127px;
    height: 127px;
    border-width: 18px;
    left: -37px;
    top: auto;
    bottom: -28px;
  }

  .types-section__items {
    display: grid;
    grid-template-columns: min-content  min-content;
    grid-template-rows: 1fr 1fr;
    row-gap: 27px;
    column-gap: 50px;
  }

  .types-section__item:first-child {
    grid-column: 1 / 2;
  }

  .types-section__item:nth-child(3n) {
    grid-column: 1 / -1;
  }

  .types-section {
    padding-top: 25px;
    padding-bottom: 49px;
  }

  .types-section .section-title {
    font-size: 24px;
    line-height: 41px;
    margin-bottom: 31px;
  }
}

@media (max-width: $mobile-width) {
  .types-section .container {
    padding: 0 25px;
  }

  .types-section {
    padding-bottom: 32px;
  }

  .types-section__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }

  .types-section__item:first-child .types-section__img-wrapper,
  .types-section__item:nth-child(3n) .types-section__img-wrapper,
  .types-section__item:nth-child(2n) .types-section__img-wrapper {
    width: 100%;
  }

  .types-section__item:first-child .types-section__img-wrapper::after {
    left: -25px;
  }

  .types-section__item:nth-child(3n) .types-section__img-wrapper::after {
    right: -14px;
  }
}
