.video-section__background {
  background-image: linear-gradient(to bottom, $dark-bg 88%, $basic-white 88%);
  padding-top: 120px;
}

.video-section h2 {
  margin: 0;
  color: $basic-white;
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 20px;
}

.video-section p {
  width: 340px;
  text-align: center;
  margin: 0 auto;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: rgba($basic-white, 0.7);
}

.video-section__preview {
  margin-top: 56px;
  position: relative;
  display: flex;
  justify-content: center;
}

.video-section__button {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $company-color;
  width: 65px;
  height: 65px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3;

  &:hover {
    background-color: lighten($company-color, 10%);
  }
}

.video-section__button .play {
  margin: 0 auto;
}

@media (max-width: $tablet-width) {
  .video-section__preview {
    margin-top: 40px;
  }

  .video-section__img {
    width: 503px;
    height: 282px;
  }

  .video-section__background {
    padding-top: 70px;
    background-image: linear-gradient(
      to bottom,
      $dark-bg 83%,
      $basic-white 83%
    );
  }

  .video-section__button {
    width: 91px;
    height: 91px;
  }

  .video-section h2 {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.005em;
  }

  .video-section p {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.005em;
    text-align: center;
    width: 429px;
  }
}

@media (max-width: $mobile-width) {
  .video-section__button {
    width: 65px;
    height: 65px;
  }

  .video-section__background {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 84px;
    background-image: linear-gradient(
      to bottom,
      $dark-bg 88%,
      $basic-white 88%
    );
  }

  .video-section__img {
    width: 100%;
    height: auto;
  }

  .video-section p {
    width: auto;
  }

  .video-section__preview {
    margin-top: 53px;
  }
}
