$basic-black: #000000;
$basic-white: #ffffff;
$company-color: #0ad9c6;
$dark-font: #48494d;
$title-font: #1f1f1f;
$grey-bg: #f6f6f6;
$dark-bg: #131314;
$light-blue-bg: #f6f7f9;
$border-color: #c9ccd4;
$placeholder-color: #1c1c1c;
$error-color: #ac0000;

// $tablet-width: 1439px;
$tablet-width: 1023px;
$mobile-width: 767px;
