$basic-black: #000000;
$basic-white: #ffffff;
$company-color: #0AD9C6;
$dark-font: #48494D;
$title-font: #1F1F1F;
$grey-bg: #F6F6F6;
$border-color: #C9CCD4;
$placeholder-color: #1C1C1C;
$error-color: #ac0000;
$tablet-width: 1023px;
$mobile-width: 767px;
